.frame-child113 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30.68px;
  background-color: #010001;
  width: 11.169rem;
  height: 10.069rem;
  display: none;
}
.logosflight-icon1 {
  position: absolute;
  top: 1.581rem;
  left: 4.569rem;
  width: 2.069rem;
  height: 2.844rem;
  overflow: hidden;
  display: none;
}
.flighttime-1-icon1 {
  position: absolute;
  top: 1.688rem;
  left: 4.188rem;
  width: 3.063rem;
  height: 3.063rem;
  overflow: hidden;
  z-index: 1;
}
.max-flight-time1,
.minutes1 {
  position: absolute;
  top: 5.394rem;
  left: 2.038rem;
  line-height: 187%;
  font-weight: 800;
  z-index: 1;
}
.minutes1 {
  top: 6.975rem;
  left: 3.569rem;
  font-size: 0.775rem;
  font-weight: 500;
}
.rectangle-parent28 {
  position: absolute;
  top: 130.063rem;
  left: 65.063rem;
  border-radius: 30.68px;
  background-color: #010001;
  width: 11.169rem;
  height: 10.069rem;
  z-index: 8;
  text-align: left;
  font-size: 0.925rem;
  color: #fff;
  font-family: Raleway;
}
