.mainOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px
}

.giveArea {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 996px;
    padding: 50px 10px;
    background: rgba(1, 0, 1, 1);
    border-radius: 40px;
    align-items: center;
}

.givetext {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: rgba(255, 255, 255, 1);
}

.salvatext {
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: 27px !important;
    margin-top: 20px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    max-width: 859px;
    text-align: center;
}

.viewbutton {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(255, 255, 255, 1);
    border: 0.83px solid rgba(255, 255, 255, 1);
    width: 189px;
    height: 57px;
    background-color: black;
    margin-top: 40px;
    border-radius: 45px;
}

.viewbutton:hover{
    background: white;
    color: rgb(15, 15, 15);
}

@media (max-width:1370px) {

    .givetext {
        font-size: 33px;
        font-weight: 700;
        line-height: 49px;
    }


    .salvatext {
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        max-width: 730px;
    }

    .viewbutton {
        font-size: 16px;
        font-weight: 400;
        width: 174px;
        height: 50px;
    }

    .giveArea {
        max-width: 893px;
    }
}

@media (max-width:991px) {

    .givetext {
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
    }


    .salvatext {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        max-width: 637px;
    }

    .viewbutton {
        font-size: 16px;
        font-weight: 400;
        width: 174px;
        height: 50px;
    }

    .giveArea {
        max-width: 729px;
    }
}



@media (max-width:767px) {

    .givetext {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
    }


    .salvatext {
        font-size: 11px;
        font-weight: 400;
        line-height: 15px;
        max-width: 541px;
    }

    .viewbutton {
        font-size: 12px;
        font-weight: 400;
        width: 130px;
        height: 40px;
    }

    .giveArea {
        max-width: 90%;
        padding: 25px 10px;
        border-radius: 25px;
    }

    .mainOuter {
        padding: 40px 15px;
    }

}